<div class="upload-fondo">
    <mat-card class= "upload-card">
        <mat-card-title style="color: #3f51b5;">Subir Archivo</mat-card-title>

        <div style="margin-top: 20px;">
            <mat-form-field style="width: 300px;" color="primary" appearance="fill">
                <mat-label>Seleccionar Archivo</mat-label>
                <input matInput [(ngModel)]="fileName" disabled>
                <button mat-icon-button matSuffix (click)="fileInput.click()">
                    <mat-icon>attach_file</mat-icon>
                </button>
                <input hidden (change)="fileEvent($event)" #fileInput type="file" accept=".png, .jpg, .jpeg, .pdf, .txt">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field style="width: 300px;" color="primary" appearance="fill">
                <mat-label>Nombre archivo</mat-label>
                <input matInput placeholder="Nombre Archivo" [(ngModel)]="newFileName">
                <button mat-icon-button matSuffix tabindex="-1">
                    <mat-icon>border_color</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div>
            <mat-radio-group style="width: 300px;" color="primary" [(ngModel)]="vis">
                <mat-radio-button style="margin: 10px;" value="privado">Privado</mat-radio-button>
                <mat-radio-button style="margin: 10px;" value="publico">Publico</mat-radio-button>
            </mat-radio-group>
        </div>

        <div style="margin-top: 20px;">
            <mat-form-field style="width: 300px;" color="primary" appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="pass">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-pressed]="hide" tabindex="-1">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary" (click)="upload()">Cargar</button>
        </div>

    </mat-card>
</div>
