<div class="home-fondo">
    <mat-card class= "home-op-card">
        <img src={{srcFoto}} alt="Wea" width="180" height="180">

        <mat-label>{{nombreUsuario}}</mat-label>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary"  style="width: 160px;" routerLink="/uploadFiles">Subir Archivo</button>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary"  style="width: 160px;" routerLink="/updateFiles">Editar Archivo</button>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary"  style="width: 160px;" routerLink="/deleteFiles">Eliminar Archivo</button>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary" style="width: 160px;" routerLink="/addFriends">Agregar Amigo</button>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="primary"  style="width: 160px;" routerLink="/publicFiles">Ver Archivos Publicos</button>
        </div>

        <div style="margin-top: 20px;">
            <button mat-raised-button color="accent"  style="width: 120px;" (click)="cerrarSesion()">Cerrar Sesión</button>
        </div>
    </mat-card>

    <mat-card class= "home-pub-card">
        <div class="pub-div" *ngFor="let archivoPublico of archivosPublicos">
            <img src={{getLink(archivoPublico.idarchivo)}}  width="180" height="180">
            <br>
            <a href={{getLinkRef(archivoPublico.idarchivo)}} target="_blank">{{archivoPublico.nombre}}</a>
        </div>
    </mat-card>

    <mat-card class= "home-priv-card">
        <div class="pub-div" *ngFor="let archivoPrivado of archivosPrivados">
            <img src={{getLink(archivoPrivado.idarchivo)}} width="180" height="180">
            <br>
            <a href={{getLinkRef(archivoPrivado.idarchivo)}} target="_blank">{{archivoPrivado.nombre}}</a>
        </div>
    </mat-card>
</div>