.home-fondo {
    height: 100%;
    background-image: url(./Fondo1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;   
}

.home-op-card {
    width: 200px;
    background-color: #EBF5FB;
    position: fixed;
    top: 5%;
    left: 5%;
    text-align: center;
}

.home-pub-card {
    width: 70%;
    height: 232px;
    overflow: auto;
    background-color: #EBF5FB;
    position: fixed;
    top: 5%;
    left: 25%;
    white-space: nowrap;
    text-align: center;
}

.pub-div {
    width: 220px;
    height: 220px;
    display: inline-block;
}

.home-priv-card {
    width: 70%;
    height: 220px;
    overflow: auto;
    background-color: #EBF5FB;
    position: fixed;
    top: 55%;
    left: 25%;
    white-space: nowrap;
    text-align: center;
}